# Introduction to SQL

Here you can access the `books` table used in the course.

--- 
_Note: When using sample databases such as those that contain course data, you have read-only access. You can run queries, but cannot make any changes such as adding, deleting, or modifying the data (e.g., creating tables, views, etc.)._

# Chapter One: Coding Etiquette and Data Structure
* rows: records, columns: fields
    * Record holds data on individual observation (or person)
    * Field holds one piece of information (variable) for all records
* Fields limited to those there was database was created but # rows unlimited
* Table and field names should be lowercase and have no spaces, rather underscores
    * Table name is plural, field name is singular
* Need a unique identifier for each record; names aren’t great because there can be multiple ppl with the same name
* More tables w different subjects better than fewer tables w info on multiple subjects
* Database = multiple tables 
* Schema illustrates their structure, relationships, and field data types
* Each field is assigned a data type based on content:
    * VARCHAR: used for storing "strings" or a sequence of characters such as letters or punctuation
    * INT: used for integers or whole numbers
    * NUMERIC: numbers that aren’t whole
* Can tell data type based by looking at schema
    * Good guess from looking at field data but can’t see exact type

# Chapter Two: SQL Basics
* SQL used to answer questions w/in and across relational databases
* Often used in conjunction w other tools, like spreadsheets
    * Only needed if there are relationships between data (otherwise use spreadsheets)
* Keywords indicate operations


_SELECT name
FROM books;_

* SELECT: allows us to select fields
    * Can list multiple fields separated by comma
    * List them in order we want them to appear in results set
    * To select all fields use < * >
* FROM: indicates table in which field is located
* Capitalize keywords while keeping table and field name lowercase
* Use semicolon after query to indicate completion 
* Can use ‘’-- “Cbefore text to treat it as markdown instead of code

# Chapter Three: Writing Queries
* Aliasing: renames fields
    * Use code < AS >
    * Only changes for query, not in table itself


_SELECT name AS first_name, year_hired FROM employees;_
        

* SELECT DISTINCT: lets us select unique values
    * Can return unique combinations of distinct values using multiple words after command


_SELECT DISTINCT year_hired
FROM employees;_


_SELECT DISTINCT dept_id, years_hired
FROM employees;_

* View: table that is a result of a saved SQL ’SELECT’ query
    * Virtual tables - data not stored in database, but query code is
    * When accessed, views automatically update when core data in table updates
    * Does not generate an output but can then select from view (FROM employee_hire_years)


_CREATE VIEW employee_hire_years AS
SELECT id, name, year_hired
FROM employees;_

In [2]:
-- Add your own queries here
SELECT DISTINCT author
FROM books;

## Explore Datasets
Use the `books` table to explore the data and practice your skills!
- Select only the `title` column.
- Alias the `title` column as `book_title`.
- Select the distinct author names from the `author` column.
- Select all records from the table and limit your results to 10.